<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 style="color: cadetblue;">Login Form </h2>
    <!-- Icon -->
    <div class="fadeIn first">   
    </div>
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Role
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="getRole($event)" id="Admin">Admin</a>
            <a class="dropdown-item" (click)="getRole($event)" id="Donor">Donor</a>
            <a class="dropdown-item" (click)="getRole($event)" id="User">User</a>
            <a class="dropdown-item" (click)="getRole($event)" id="NGO">NGO</a>
          </div>
        </div>
        <br>
        <div class="form-group">
          <!-- <label for="emailId">Email ID:</label> -->
          <input type="text" class="fadeIn second" id="emailId" placeholder="Enter emailID" formControlName="emailId">
        </div>
        <div class="form-group">
          <!-- <label for="password">Password:</label> -->
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="Enter password"  formControlName="password">
          <!--<input type="password" class="fadeIn third" id="password" placeholder="Enter password" formControlName="password">-->
        </div>
           
        <br/><br>
        <button type="submit" (click)="login()" class="fadeIn fourth btn btn-info">Log In</button>
        <!-- <input type="submit"  class="fadeIn fourth" value="Log In"> -->
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
        <a class="underlineHover" routerLink='/signup'>New donor registration</a>
      </div>

</div>
</div>
